<div class="container">
    <div class="row">
        <!-- HEADER -->
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="main">VroO</a>
            </div>
            <!-- LINK TO OUR PAGES. ANGULAR HANDLES THE ROUTING HERE -->
            <div class="collapse navbar-collapse navbar-toggleable-xs">
                <ul class="nav navbar-nav">
                <!-- <li><a ui-sref="site.hackers.list">Hackers</a></li> -->
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Map<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Traffic</a></li>
                        <li><a href="#">Parking</a></li>
                    </ul>
                </li>
                <li><a href="#">Itinerary</a></li>
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Profile<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">My Itinerary</a></li>
                            <li><a href="#">Interests</a></li>
                            <li><a href="#">Recommendations</a></li>
                            <li><a href="#">Groups</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- ANGULAR DYNAMIC CONTENT -->
        <div ui-view="content"></div>
    </div>
</div>
