<div id="page-top">
    <nav class="navbar navbar-inverse navbar-expand-lg fixed-top" id="mainNav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
            <a class="navbar-brand" ui-sref="site.home" style="font-size: 24px; margin: 0 30px; color:#42DCA3">VroO</a>
        </div>
        <!-- LINK TO OUR PAGES. ANGULAR HANDLES THE ROUTING HERE -->
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="nav navbar-nav pull-right">
                <li style="padding-left: 15px"><a class="white-words" ui-sref="site.home({selected: 'login'})">Login</a></li>
                <li><a class="white-words" ui-sref="site.home({selected: 'register'})">Register</a></li>
            </ul>

            <ul class="nav navbar-nav">
                <!-- <li><a ui-sref="site.hackers.list">Hackers</a></li> -->
                <!-- <li class="active"><a href="#">Home</a></li> -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle white-words" data-toggle="dropdown">Map</a>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="lCtrl.selected = 'events' ">Events</a></li>
                        <li><a href="#" ng-click="lCtrl.selected = 'traffic' ">Traffic</a></li>
                        <li><a href="#" ng-click="lCtrl.selected = 'parking' ">Parking</a></li>
                    </ul>
                </li>
                <li><a ui-sref="site.itinerary" class="dropdown white-words" href="#">Itinerary</a></li>
                <li><a class="dropdown white-words" href="#">Travel Groups</a></li>

                <li>
                    <a ui-sref="site.profile" class="dropdown-toggle white-words" data-toggle="dropdown">My Profile</a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="site.home({selected: 'itinerary'})">My Itinerary</a></li>
                        <li><a href="#" ng-click="lCtrl.selected = 'interests' ">Interests</a></li>
                        <li><a href="#" ng-click="lCtrl.selected = 'recommendations' ">Recommendations</a></li>
                        <li><a ui-sref="site.home({selected: 'groups'})">Groups</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <header class="masthead">
        <div class="intro-body">
            <div class="container">
                <div class="row">



                </div>
            </div>
        </div>
    </header>
    <div class="col-md-12">
        <div style="background-color:darkcyan;">
            <h3 style="text-align: center;">Destinations</h3>
        </div>
        <div class="carousel" uib-carousel active="lCtrl.active" no-pause='false' interval="lCtrl.myInterval" no-wrap="lCtrl.noWrapSlides">
            <div uib-slide class="weekday-carousel-container" ng-repeat="slide in lCtrl.slides track by slide.id" index="$index">
                <div class="col-md-4">
                    <img class="resize-weekday" ng-src="{{lCtrl.slides[$index].image}}" style="margin:auto;">
                    <p>{{lCtrl.slides[$index].title}}</p>
                </div>
                <div class="col-md-4">
                    <img class="resize-weekday" ng-src="{{lCtrl.slides[$index+1].image}}" style="margin:auto;">
                    <p>{{lCtrl.slides[$index+1].title}}</p>
                </div>
                <div class="col-md-4">
                    <img class="resize-weekday" ng-src="{{lCtrl.slides[$index+2].image}}" style="margin:auto;">
                    <p>{{lCtrl.slides[$index+2].title}}</p>
                </div>

            </div>
        </div>

    </div>

    <div ui-view="content"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Vroo 2017</p>
        </div>
    </footer>
</div>


<script src="themeContent/grayScale/js/grayscale.js"></script>