.white-words{
    color: white !important;
}
#mainNav ul a{
    color: black;
}
.lowViewContainer {
    height: 500px;
}
hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(255, 255, 255, 0.5);
}

.style-14::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	background-color: rgb(68, 68, 68);
}

.style-14::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.style-14::-webkit-scrollbar-thumb
{
	background-color: #FFF;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, 1) 0%,
											  rgba(0, 0, 0, 1) 25%,
											  transparent 100%,
											  rgba(0, 0, 0, 1) 75%,
											  transparent)
}

.travelGroupContainer {
    overflow: auto;
    margin-left: -75px;
    background-color: black;
    border: #42DCA3 2px solid;
    width: 700px;
    height: 400px;
    right: 5%;
}

.modal {
    overflow-y: scroll;
}

.fontSize14 p {
    font-size: 14px;
}

.fontSize15 {
    font-size: 15px !important;
}